{% extends 'base.html' %}

<head>
{% block head %} 
	{{ super() }} 
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
</head>

<body>
	{% block content %}
	<div class="row">
		<div class="col-md-8">
			<div class="card ">
				
				<div class="card-header "> 
					<h4>Explore on the map</h4>

				</div>
				
				<div class="card-body ">

					<button id="search_resto" type="button" onclick="getBounds()">Search Restaurants</button>
					<button id="clear_resto" type="button" onclick="deleteAllMarkers()">Clear</button>

					<div id="map" style="height: 60vh;"></div>

				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="card ">
				<div class="card-header "> 
					<h4>Restaurant Information</h4>
				</div>
				<p> This is where the info about the restaurant will go. boom boom </p>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card ">
				<div class="card-header "> 
					<h4>Distribution of Stars</h4>
				</div>
				<div class="card-body ">
					<canvas id="starChart" width="400" height="400"></canvas>					
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card ">
				<div class="card-header "> 
					<h4>Conversation Topics</h4>
				</div>
				<div class="card-body ">
					<canvas id="topicChart" width="400" height="400"></canvas>
					<script>
						var topicChartElement = document.getElementById('topicChart');
						var topicChart = new Chart(topicChartElement, {
						type: 'bar',
						data: {
							labels: ['Price', 'Wait', 'Sushi', 'Night', 'Happy Hour'],
							datasets: [{
								label: '# of Restaurants',
								data: [20, 7, 5, 30, 9],
								backgroundColor: [
									'rgba(255, 99, 132, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(255, 206, 86, 0.2)',
									'rgba(75, 192, 192, 0.2)',
									'rgba(153, 102, 255, 0.2)'
								],
								borderColor: [
									'rgba(255, 99, 132, 1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)'
								],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								yAxes: [{
									ticks: {
										beginAtZero: true
									}
								}]
							}
						}
						});

					</script>

				</div>
			</div>
		</div>
	</div>



</body>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/explore.js')}}" type="text/javascript"></script>

{% endblock %}

