{% extends "base.html" %}

<body>
{% block content %}
<center>
    <h2><b>Analyze the restaurant world</b></h2>
</center>

Do you have a restaurant? Do you want to open a restaurant? This website is for you

Using this tool, you will be able to see: 

<ul>
    <li>what businesses are in an area</li>
    <li>how successful different businesses are</li>
    <li>what customers of those businesses are talking about</li>
    <li>What customers appreciate in an area and from businesses</li>
</ul>   
{% endblock %}    
</body>


